<!DOCTYPE html>
<html>
<head>
    <title>tmple/main.html</title>
</head>
<body>
    <h1>This is tmpl's main page.</h1>
    <p><a href = "game/0">Go to tmpl/game/int</a></p>
    <p><a href = "game2/0">Go to tmpl/game2/int</a></p>
    <p><a href = "simple">Go to tmpl/simple</a></p>
    <p><a href = "guess">Go to tmpl/guess</a></p>
    <p><a href = "special">Go to tmpl/special</a></p>
    <p><a href = "loop">Go to tmpl/loop</a></p>
    <p><a href = "nested">Go to tmpl/nested</a></p>
</body>
</html>
