<!DOCTYPE html>
<html>
<head>
    <title>My Django Page</title>
</head>
<body>
    <h1>Hello from main.html!</h1>
    <p><a href = "funky">Go to the funky function</a></p>
    <p><a href = "danger">Go to the danger function</a></p>
    <p><a href = "game">Go to the game function</a></p>
    <p><a href = "game2">Go to the game2 function</a></p>
    <p><a href = "game3">Go to the game3 function</a></p>
    <p><a href = "rest/0">Go to the rest function</a></p>
    <p><a href = "main2">Go to the MainView2 class</a></p>
    <p><a href = "restmain2/0">Go to the RestMainView2 class</a></p>
    <p><a href = "bounce">Go to the bounce function</a></p>
</body>
</html>
