<!DOCTYPE html>
<html>
    <head>
        <title>My Django Project</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <ul>
            <li><a href="/views">Views Examples</a></li>
            <li><a href="/views2">Views2 (created by me for my practice. Lots of experimental sites here.)</a></li>
            <li><a href="/polls">Polls Application</a></li>
            <li><a href="/polls2">Polls2 Application(For practicing, I created this. It's okay to delete it.)</a></li>
            <li><a href="/autos">Autos CRUD</a></li>
            <li><a href="/autos2">Autos CRUD2 (The code is longer, not using CreateView for MakeCreate, and so on.)</a></li>
            <li><a href="/site">Sites</a></li>
            <li><a href="/tmpl">Tmpl</a></li>
            <li><a href="/route">Route</a></li>
            <li><a href="/gview">Gview</a></li>
            <li><a href="/getpost">Getpost</a></li>
            <li><a href="/session">Session</a></li>  
            <li><a href="/accounts/login/?next=/polls/">Accounts/login/ and then polls/</a></li>
            <li><a href="/accounts">Accounts: this is for logout</a></li>
            <li><a href="/authz">Authz</a></li>
            <li><a href="/form">Form</a></li>
            <li><a href="/bookone">Bookone</a></li>
            <li><a href="/myarts">Myarts</a></li>
            <li><a href="/crispy">Crispy</a></li>
            <li><a href="/menu">Menu</a></li>
            <li><a href="/admin">admin</a></li>
            <!-- More app links can be added here later -->
        </ul>
        <p id="placeholder"></p>
        <p>
        <script type="text/javascript">
        <!-- alert("Just a moment to write a note down...");-->
        document.getElementById("placeholder").innerHTML = "This is written through JavaScript";    
        <!--alert("After writing");-->
        </script>

        </p>
    </body>
</html>
