<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>/getpost/main</title>
    </head>
    <body>
        <h1>This is /getpost/main.html</h1>
        <ul>
            <li><p><a href="getform">Submit a form with GET</p></li>
            <li><p><a href="postform">Submit a form with POST</p></li>
            <li><p><a href="html4">Classic input tags</p></li>
            <li><p><a href="html5">HTML5 input tags</p></li>
            <li><p><a href="failform">Submit a form with POST, but it fails</p></li>
            <li><p><a href="guess">Guess a number and submit it with POST</p></li>
            <li><p><a href="classy">First, use GET, then, POST</p></li>
            <li><p><a href="awesome">Post, Redirect, Get, refresh</p></li>
        </ul>
    </body>
</html>
