{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <title>This is route/main.html</title>
</head>
<body>
    <h1>Using the url tag</h1>
    <ul>
        <li>
            <a href="/route/second">hard-coded (not DRY) </a>    
        </li>
        <li>
            {% url 'route:first-view' %} (url 'route:first-view')
        </li>
        <li>
            <a href="{% url 'route:second-view' %}">(url 'route:second-view')</a>
        </li>
        <li>
            {% url 'nsroute:second-view' %} (url 'nsroute:second-view')
        </li>
        <li>
            {% url 'gview:cats' %} (url 'gview:cats') from gview/urls.py
        </li>
        <li>
            {% url 'gview:cat' 42 %} (url 'gview:cat' 42) from gview/urls.py
        </li>
    </ul>
    <p>{% lorem %}</p>
</body>
</html>
{% endspaceless %}
